/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;600;700;800;900&display=swap');

/* common style */
body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 2rem;
    color: #131313;
    font-weight: 700;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
}

/* banner style */
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.banner-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
.banner-content p{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 20px;
   
}
.btn-pr{
    background-color: #ff900E;
    padding:20px 30px;
    color: white;
    font-size: 1.10rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}
.banner img{
   max-width: 100%;
}




/* responsive and media quearies style */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
        
    }
    nav{
        flex-direction: column;
    }
    nav h3{
       margin-bottom: 10px;
    }
    .banner-content h2{
        font-size: 2rem;
    }
    .banner-content p{
        font-size: .7rem;
    }
    .btn-pr{
        font-size:1rem;
        padding: 15px 25px;
    }
}
/* tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px){
    nav{
        flex-direction: column;
    }
    nav h3{
        margin-bottom: 10px;
     }
    .banner-content h2{
        font-size: 1.8rem;
    }
    .banner-content p{
        font-size: .6rem;
    }
    .btn-pr{
        font-size:.8rem;
        padding: 13px 21px;
    }
}


/* main style */
main{
    max-width: 1150px;
    margin: 0 auto;
}

.feature-section{
    display: flex;
    align-items: center;
    gap: 40px;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
}
.feature-image img{
    border-radius:8px;
    width: 17rem;
}
.feature-content{
    padding: 0 30px;
}
.feature-content h1{
    font-size: 2.3rem;
    margin-bottom: 12px;
}
.feature-content h1 .quick{
    color: #727272;
    font-weight: 500;
}
.feature-content h1 .our{
    color: #131313;
    font-weight: 700;
}
.feature-content h1 .feat{
    font-weight: 700;
    color: #FF900E;
}
.feature-content p{
    color: #727272;
    margin-bottom: 15px;
}